## Create parameters file

In [21]:
import pandas as pd
from hscpy import mitchell, realisation

NCELLS = 100_000
REPLICATES = 32

In [2]:
donors = mitchell.donors()
donors

    name  age  cells  clones
0  CB001    0    216       0
1  CB002    0    390       0
2  KX001   29    407       0
3  KX002   38    380       1
4  SX001   48    362       0
5  AX001   63    361       1
6  KX008   76    367      12
7  KX004   77    451      15
8  KX003   81    328      13

In [15]:
def create_parameters(donors: pd.DataFrame, name: str, eta: float, sigma: float, mu: int, tau: float) ->  realisation.SimulationCMD:
    return realisation.SimulationCMD(
        cells=NCELLS,
        sample=donors[donors.name == name].cells.squeeze(),
        eta=eta,
        sigma=sigma,
        mu=mu,
        tau=tau,
        age=donors[donors.name == name].age.squeeze(),
        name=name,
        seed=None,
    )

In [16]:
# params are from ABC
parameters = dict()

name = 'CB001'
eta, sigma, mu, tau = 0.03, 0.01, 1, 1
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)

# assume same params for both 0 age donors
name = 'CB002'
eta, sigma, mu, tau = 0.03, 0.01, 1, 1
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'KX001'
eta, sigma, mu, tau = 0.03, 0.01, 1, 1.8
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'KX002'
eta, sigma, mu, tau = 0.02, 0.01, 1, 2.6
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'SX001'
eta, sigma, mu, tau = 0.03, 0.01, 1, 2.6
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'AX001'
eta, sigma, mu, tau = 0.02, 0.01, 1, 3
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'KX008'
eta, sigma, mu, tau = 0.06, 0.04, 16, 5
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'KX004'
eta, sigma, mu, tau = 0.12, 0.04, 16, 1.4
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)


name = 'KX003'
eta, sigma, mu, tau = 0.08, 0.04, 23, 3
parameters[name] = create_parameters(donors, name, eta, sigma, mu, tau)

In [27]:
with open("parameters.txt", "w") as f:
    for params in parameters.values():
        for _ in range(REPLICATES):
            f.write(params.parameters() +"\n")

In [28]:
%%bash
head parameters.txt

-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential
-c 100000 -y 1 -r 1 --tau 1 --mu0 1 --mu-exp 2.2413 --mu-division 1.2 --mu-background 11.6 --mean-std 0.03 0.01 --subsamples 216 --snapshots 0  --sequential

In [29]:
%%bash --out runs
wc -l parameters.txt

In [31]:
runs = int(runs.split(" ")[0])
assert REPLICATES * len(parameters) == runs, f"{REPLICATES * len(parameters)} vs {runs}"

In [32]:
REPLICATES * len(parameters)

288